@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header h1{
    height: 100px;
    background: linear-gradient( to right, blue, rgba(0, 0, 0, 0.653));
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


main h1{
    margin: 400px;
    background-color: red;
    margin-top: 20px;
    text-align: center;
}

main  img{
    border-radius: 30%;
    width: 400px;
     position: absolute;
    top: 30%;
    left: 70%;
    transform: translate();
}

main p{
    
    height: 40px;
    position: absolute;
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;
   margin-left: 10px;
}